---
import "./section.css";
---

<div class="main-content" id="about">
  <span class="section-title">About Me</span>
  <div id="bio">
    <img src="/portrait-square.jpg" id="image" />
    <p>
      Hello! I am a 2nd year at the University of California, San Diego (UCSD)
      majoring in Computer Science and minoring in Japanese Studies. While I
      like testing the waters in different fields of computer science, I have
      interests in software engineering and AI.
    </p>
  </div>
</div>
<style>
  #bio {
    padding: 1rem 0 0 0;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }

  #image {
    background-color: gray;
    min-width: 48px;
    min-height: 48px;
    max-width: 20vw;
  }
</style>
