---
import ProjectCard from "../ProjectsPage/ProjectCard.astro";
import "./section.css";
---

<div class="main-content-alt">
  <span class="section-title">Projects</span>
  <div id="projects">
    <ProjectCard
      title="Example Project"
      body="This is an example project"
      href="#"
    />
  </div>
</div>
<style>
  #projects {
    padding: 1rem 0 0 0;
  }
</style>
