.main-content {
  padding: 2rem 10vw;
  background-color: var(--theme-light);
  color: var(--theme-dark);
}

.main-content-alt {
  padding: 2rem 10vw;
  background-color: var(--theme-dark);
  color: var(--theme-light);
}

.section-title {
  font-size: var(--font-size-lg);
  font-weight: bold;
}
