---
import "./section.css";
---

<div class="main-content">
  <span class="section-title">Work Experience</span>
  <div id="experience">
    <p>Thing 1</p>
    <p>Thing 2</p>
  </div>
</div>
<style>
  #experience {
    padding: 1rem 0 0 0;
    display: flex;
    flex-direction: column;
  }
</style>
