---
import Layout from "../layouts/LandingLayout.astro";
import Banner from "../components/LandingPage/Banner.astro";
import AboutMe from "../components/LandingPage/AboutMe.astro";
import FeaturedProjects from "../components/LandingPage/FeaturedProjects.astro";
import WorkExperience from "../components/LandingPage/WorkExperience.astro";
---

<Layout title="Grant Cheng">
  <main>
    <Banner />
    <AboutMe />
    <FeaturedProjects />
    <WorkExperience />
  </main>
</Layout>

<style>
  main {
    overflow-x: hidden;
  }
</style>
